# General
*.log
.DS_Store
//.env
//.env.*
!.env.example
.phpactor.json
.phpunit.result.cache

# Editor & IDE specific
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Dependencies
/Backend/vendor/
/Frontend/node_modules/

# Laravel specific
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml

# Windows specific
Thumbs.db
